.menu__link{
    color: var(--color-primary);
    font-family: var(--font-family-secundary);
    font-weight: 300;
    font-size: 1.5rem;
    margin-right: 1.25rem;
    text-decoration: none;
    text-transform: lowercase;
    transition: all 300ms ease-out;
    cursor: pointer;
}

.menu__link.ativo {
    color: var(--color-primary);
    font-weight: bold;
}

.menu__link:hover {
    color: var(--color-tertiary);
}