.texto__termos-uso {
    color: var(--color-primary);
    text-align: justify;
    font-size: 1rem;
    max-width: 600px;
    margin: 0;
}

.container {
    padding: 0.5em 3em;
    margin: 0.5em 2em;
}
