.forms__input {
    width: 20em;
    height: 1.5em;
    border-radius: 10px;
    font-size: 1.5rem;
    color: var(--color-tertiary);
    border: none;
}
.forms__input:focus{
    outline: none;
    border-bottom: 3px solid #f5395d;
    height: 2em;
}

.campo__ecrita-menor {
    width: 13.5em;
    height: 1.5em;
}

::placeholder {
    color: var(--color-tertiary);
    opacity: 0.3;
}