:root {

--font-family-primary: 'Lato', sans-serif;
--font-family-secundart: 'Roboto', sans-serif;
--font-family-tertiary: 'Open Sans',Arial,sans-serif ;

--bg-color-primary: #FFFFFF;
--bg-color-secundary: #000000;
--bg-color-tertiary:rgb(245,57,93);

--color-primary: #FFFFFF;
--color-secundary: #000000;
--color-tertiary: rgb(245,57,93);

}


body {
    font-family: var(--font-family-primary);
}

.container {
    padding: 2rem;
}