.botao {
    position: relative;
    width: 15rem;
    height: 4rem;
    background-color: var(--bg-color-tertiary);
    color: var(--color-primary);
    border: none;
}

.botao:hover {
    cursor: pointer;
    background-color: #d61337;
}