.cabecalho {
    background: var(--bg-color-secundary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1; /* z-index definido para o cabeçalho */
}

.cabecalho__logo{

    height: 41px;
    width: 198px;
    
    padding: 10px;
}
