.checkin__input {
    width: 90%;
    height: 3rem;

    color: var(--color-tertiary);

    font-size: 1rem;
    font-weight: bold;

    text-transform: uppercase;
    border: none;
    border-bottom: solid 4px var(--color-tertiary);
    border-radius: 10px;
}

.checkin__input:focus{
    outline: none;
}

::placeholder {
    color: var(--color-tertiary);
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.4;
}